.menu{
    display: flex;
    
    flex-direction: column;
    gap: 20px;
    h1{
       color: goldenrod;
    }
    .post{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        h2{
            color: rgb(232, 184, 113);
        }
        img{
            width: 50%;
            object-fit: cover;
            height: 200px;
        }

        button{
            width: 120px;
            padding: 10px;
            background-color: gray;
            color:rgb(227, 173, 92);
            font-weight: 900;
            cursor: pointer;
        }
    }

}